
# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignora la carpeta .vscode que contiene la configuración del proyecto
# para visual code.

.vscode/
.zed/
# Ignora la carpeta lib y Scripts del entorno virtual que al instalar los
# requerimientos se instalará en ese equipo.
lib/
Scripts/

# Ignora __pycache__ en cualquier carpeta del proyecto.
**/__pycache__

# Ignora el archivo de configuración de la ubicación del entorno virtual.
# Este archivo se crea cuando se crea el entorno virtual.
pyvenv.cfg

# Ignora carpetas de entorno virtual
.venv/
venv/
# archivo local de cloude
continue.config.json
backup_completo.json
#.gitignore
db.sqlite3
*.sqlite3

**/backups
.env
.env.production

